numpy>=2.0
setuptools>=65
wheel
cython
pybind11

SimpleITK==2.5.4
git+https://github.com/AIM-Harvard/pyradiomics.git

streamlit
tensorflow
opencv-python-headless
pillow
pandas
scikit-learn
matplotlib
